/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* Styles pour le header */
header {
    background-color: #2E2E2E; 
    color: white; 
    padding: 20px;
}

.header-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.header-logo {
    width: 70px; 
    height: auto;
    margin-right: 15px; 
}

.header-content > h1 {
    font-size: 2.5vw; 
    margin: 0;
    padding: 0; 
    font-family: Montserrat;
    color :#FFD700;
}

nav {
    margin-left: auto; 
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFD700; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
    font-family: Montserrat;
}

nav ul li a:hover {
    color: #FFD700; 
}

/* Styles pour le menu burger */
.menu-toggle {
    display: none; /* Masquer le menu burger par défaut */
    flex-direction: column; 
    justify-content: center; 
    cursor: pointer;
    margin-left: auto; 
    height: 40px; 
}

.menu-toggle .bar {
    height: 3px;
    width: 25px; 
    background-color: #FFD700;
    margin: 3px 0; 
}

/* Media Queries pour ajuster la taille de la police sur les petits écrans */
@media (max-width: 600px) {
    header {
        padding: 15px; 
    }

    h1 {
        font-size: 4vw; /* Ajuster la taille de la police pour les petits écrans */
    }

    .menu-toggle {
        display: flex; /* Afficher le menu burger sur les petits écrans */
        position: absolute; /* Positionner le menu burger */
        right: 20px; 
        top: 33px; 
        align-items: center; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
        display: none; 
        width: 100%; 
        background-color: #2E2E2E; 
        position: absolute;
        top: 70px; 
        left: 0; 
        z-index: 1; 
    }

    nav ul.active {
        display: flex; 
    }

    nav ul li {
        margin: 10px 0; 
    }
}