/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* Styles pour le header */
header {
    background-color: #2E2E2E; 
    color: white; 
    padding: 20px;
}

.header-content {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    justify-content: space-between; /* Espacer les éléments */
}

.header-logo {
    width: 70px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Conserver le ratio de l'image */
    margin-right: 15px; /* Espacement entre l'image et le texte */
}

.header-content > h1 {
    font-size: 2.5vw; /* Taille de police responsive basée sur la largeur de la fenêtre */
    margin: 0; /* Supprimer la marge par défaut */
    padding: 0; /* Supprimer le padding par défaut */
    font-family: Montserrat;
    color :#FFD700;
}

nav {
    margin-left: auto; /* Pousser la navigation à droite */
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFD700; /* Couleur des liens */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
    font-family: Montserrat;
}

nav ul li a:hover {
    color: #FFD700; 
}

/* Styles pour le menu burger */
.menu-toggle {
    display: none; /* Masquer le menu burger par défaut */
    flex-direction: column; /* Alignement vertical */
    justify-content: center; /* Centrer les barres verticalement */
    cursor: pointer; /* Changer le curseur au survol */
    margin-left: auto; /* Pousser le menu burger à droite */
    height: 40px; /* Hauteur pour centrer par rapport au logo et au titre */
}

.menu-toggle .bar {
    height: 3px; /* Épaisseur de la barre */
    width: 25px; /* Largeur de la barre */
    background-color: #FFD700; /* Couleur de la barre (doré) */
    margin: 3px 0; /* Espacement entre les barres */
}

/* Media Queries pour ajuster la taille de la police sur les petits écrans */
@media (max-width: 600px) {
    header {
        padding: 15px; 
    }

    h1 {
        font-size: 4vw; /* Ajuster la taille de la police pour les petits écrans */
    }

    .menu-toggle {
        display: flex; /* Afficher le menu burger sur les petits écrans */
        position: absolute; /* Positionner le menu burger */
        right: 20px; /* Ajuster la distance du bord droit */
        top: 33px; /* Ajuster la distance du bord supérieur */
        align-items: center; /* Centrer verticalement le menu burger */
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
        display: none; /* Masquer le menu par défaut */
        width: 100%; /* Prendre toute la largeur */
        background-color: #2E2E2E; /* Couleur de fond du menu */
        position: absolute; /* Positionner le menu */
        top: 70px; /* Ajuster selon la hauteur de l'en-tête */
        left: 0; /* Alignement à gauche */
        z-index: 1; /* Placer le menu au-dessus des autres éléments */
    }

    nav ul.active {
        display: flex; /* Afficher le menu lorsque la classe active est ajoutée */
    }

    nav ul li {
        margin: 10px 0; /* Espacement vertical entre les éléments du menu */
    }
}